In [24]:
from ipumspy import readers, ddi

In [26]:
ddi_codebook = readers.read_ipums_ddi('ddt.xml')
ipums_df = readers.read_microdata(ddi_codebook, "highered_00003.dat")

C:\Users\shrey\anaconda3\Lib\site-packages\ipumspy\readers.py:70: CitationWarning: Use of data from IPUMS is subject to conditions including that users should cite the data appropriately.
See the `ipums_conditions` attribute of this codebook for terms of use.
See the `ipums_citation` attribute of this codebook for the appropriate citation.
  warnings.warn(

In [27]:
ipums_df.head()

,PERSONID,REFID,YEAR,WEIGHT,SAMPLE,SURID,COHORT,SRVMODE,SEQNUM,AGE,...,NWILL,NWLAY,NWNOND,NWOCNA,NWOT,NWOTP,NWRET,NWSTU,HHLOSE,HHLOSENO
0,010000000000000007,100000007,1993,407.6917,101,1,100,<NA>,1,33,...,98,98,98,98,98,<NA>,98,98,<NA>,<NA>
1,010000000000000102,100000012,1993,69.2621,101,1,100,<NA>,2,38,...,0,1,0,0,0,<NA>,0,0,<NA>,<NA>
2,010000000000000103,100000013,1993,52.3937,101,1,100,<NA>,3,48,...,98,98,98,98,98,<NA>,98,98,<NA>,<NA>
3,010000000000000106,100000016,1993,52.3937,101,1,100,<NA>,4,48,...,98,98,98,98,98,<NA>,98,98,<NA>,<NA>
4,010000000000000108,100000018,1993,436.318,101,1,100,<NA>,5,28,...,98,98,98,98,98,<NA>,98,98,<NA>,<NA>

In [28]:
ipums_df['YEAR'].unique()

<IntegerArray>
[1993, 1995, 1997, 1999, 2003, 2006, 2008, 2010, 2013]
Length: 9, dtype: Int64

In [29]:
ipums_df_filtered = ipums_df[ipums_df['YEAR'].isin([2010,2013])]

In [30]:
ipums_df_filtered.shape

(149057, 356)

In [31]:
ipums_df_filtered.to_csv('raw_combined.csv')